/* Загальні стилі для всіх екранів */
body {
    background-image: url('Fon/fon_2.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    perspective: 400px;
    font-family: 'ArtScript', serif, sans-serif;
}

h1 {
    font-family: 'Space Age';
    font-size: 62px;
    text-align: center;
    margin-top: 50px;
    color: #2778ad;
}

h2 {
    font-family: 'Great Vibes';
    font-size: 50px;
    text-align: center;
    margin-top: 90px; /* Відстань між заголовком та підзаголовком */
    color: #e6d59f;
}

.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute; /* Залиште або змініть на relative для кращого позиціонування */
    top: 20px; /* Відстань зверху */
    left: 30px; /* Відстань зліва */
}

.container {
    width: 100%; /* Додаємо відстань з боків */
    max-width: 800px; /* Обмежуємо максимальну ширину для великих екранів */
    margin: 0 auto; /* Вирівнюємо по центру */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.0);
}

p {
    font-size: 30px; /* Зменшення шрифту для кращого вигляду */
    font-family: 'Great Vibes', sans-serif;
    color: #e6d59f;
    text-align: justify;
    margin: 20px 0; /* Відстань зверху і знизу */
}

.menu {
    display: flex; /* Використовуємо флекс для вирівнювання меню */
    justify-content: center; /* Центруємо меню по горизонталі */
    margin-top: 70px; /* Відстань зверху */
}

.menu-list {
    list-style: none; /* Прибираємо маркери */
    padding: 0; /* Відсутність відступів */
}

.menu-list li {
    margin: 0 10px; /* Відстань між пунктами меню */
}

.menu-list a {
    text-decoration: none; /* Прибираємо підкреслення */
    color: #e6d59f; /* Колір тексту меню */
}

/* Медіа-запити для адаптивності */
@media (max-width: 768px) {
    h1 {
        font-size: 36px; /* Зменшення шрифту для мобільних */
        margin-top: 10px; /* Додає відступ зверху */
    }

    h2 {
        font-size: 28px; /* Зменшення шрифту для мобільних */
    }

    p {
        margin: 20px 5px; /* Відстань зверху та знизу - 20px, зліва та справа - 5px */
        font-size: 18px; /* Зменшення шрифту для мобільних */
        width: 90%; /* Збільшення ширини тексту для мобільних */
        
    }

    .circle-image {
        width: 100px; /* Зменшення ширини фото для мобільних */
        height: 100px; /* Зменшення висоти фото для мобільних */
         position: absolute; /* Залиште або змініть на relative для кращого позиціонування */
        top: 35px; /* Відстань зверху */
        left: 20px; /* Відстань зліва */
    }

    .container {
    width: 100%; /* Додаємо відстань з боків */
    max-width: 768px; /* Обмежуємо максимальну ширину для великих екранів */
    margin: 0 auto; /* Вирівнюємо по центру */
    /*padding: 20px 10px;*/
    /*padding-left: 10px; /* Наприклад, додаємо 30 пікселів відступу зліва */
    /*padding-right: 10px; /* Наприклад, додаємо 30 пікселів відступу зліва */
    background-color: rgba(255, 255, 255, 0.0);
    }
    .menu {
        flex-direction: column; /* Вертикальне вирівнювання меню на мобільних */
        align-items: center; /* Центруємо меню по вертикалі */
    }
    .crawl-mob
     {
        /*font-family: 'Arial', sans-serif;
        /*color: #ffcc00; /* Колір тексту */
        /*font-size: 9em; /* Розмір тексту */
        position: absolute;
        bottom: -100%; /* Виходить за межі екрану знизу */
        left: 50%; /* Центрує текст по горизонталі */
        transform: translateX(-50%); /* Центрує текст по горизонталі */
        animation: crawl 6s linear forwards; /* Анімація для тексту */
    }
}

.crawl {
    /*font-family: 'Arial', sans-serif;
    /*color: #ffcc00; /* Колір тексту */
    /*font-size: 9em; /* Розмір тексту */
    position: absolute;
    bottom: -100%; /* Виходить за межі екрану знизу */
    left: 50%; /* Центрує текст по горизонталі */
    transform: translateX(-50%); /* Центрує текст по горизонталі */
    animation: crawl 4s linear forwards; /* Анімація для тексту */
}

@keyframes crawl {
    0% {
        bottom: -100%; /* Текст починає знизу */
    }
    100% {
        bottom: 20%; /* Текст зупиняється в центрі сторінки */
    }
}
/* Визначення ключових кадрів для анімації "мерехтіння" */
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        /* На цих етапах анімації використовується один набір тіней, які створюють основний ефект палаючого тексту */
        text-shadow:
            0 0 2px #ff0000,     /* Червона тінь */
            0 0 10px #ff0000,    /* Яскраво-червона тінь */
            0 0 20px #ff8c00,    /* Темно-помаранчева тінь */
            0 0 30px #ffa500,    /* Яскраво-помаранчева тінь */
            0 0 40px #ff4500,    /* Темно-оранжева тінь */
            0 0 50px #ff6347;    /* Помаранчево-червона тінь */
    }
    20%, 24%, 55% {
        /* На цих етапах змінюється інтенсивність тіней для створення ефекту мерехтіння */
        text-shadow:
            0 0 4px #ff4500,     
            0 0 10px #ff6347,    
            0 0 25px #ff8c00,    
            0 0 35px #ffa500,    
            0 0 45px #ff4500,    
            0 0 55px #ff0000;    
    }
}

/* Основний стиль для тексту */
.fire-text {
    font-size: 2em;                   /* Задає великий розмір шрифту для більш виразного ефекту */
    color: #ff4500;                   /* Базовий колір тексту, що надає йому помаранчевий відтінок */
    /*text-transform: uppercase;        /* Перетворює текст у верхній регістр для більш драматичного вигляду */
    text-align: center;               /* Вирівнює текст по центру */
    animation: flicker 1.5s infinite alternate; /* Застосовує анімацію "мерехтіння", тривалістю 1.5 секунди, яка повторюється нескінченно */
    font-weight: bold;                /* Робить текст жирним для кращої видимості та ефекту */
}
