body {
    background-image: url('Fon/fon_2.jpg'); /* Укажіть шлях до зображення */
    background-size: cover; /* Заповнити весь екран */
    background-position: center;
    margin: 0;
    height: 100vh; /* Висота на весь екран */
    overflow: hidden; /* Приховує прокрутку */
    perspective: 400px; /* Додає перспективу для 3D-ефектів */
}

@font-face {
    font-family: 'Space Age'; /* Назва шрифту */
    src: url('Fonts/space_age.ttf') format('truetype'); /* Шлях до шрифту */
}

@font-face {
    font-family: 'ArtScript'; /* Назва шрифту */
    src: url('Fonts/ArtScript.ttf') format('truetype'); /* Шлях до шрифту */
}

body {
    font-family: 'ArtScript', serif, sans-serif; /* Використання шрифту для всього документа */
    padding: 0; /* Збираємо всі відступи */
}

h1 {
    font-family: 'Space Age'; /* Використання шрифту для заголовка */
    font-size: 62px;
    text-align: center; /* Центрує текст по горизонталі */
    margin-top: 50px; /* Додає відступ зверху */
    color: #2778ad; /* Колір тексту */
}
h2 {
    font-family: 'Great Vibes'; /* Використання шрифту для заголовка */
    font-size: 50px;
    text-align: center; /* Центрує текст по горизонталі */
    margin-top: 0px; /* Додає відступ зверху */
    text-align: center; /* Центрує текст по горизонталі */
    color: #e6d59f; /* Колір тексту */
    top: 100%; /* Початкова позиція знизу */
    /*width: 60%; /* Звужуємо ширину тексту до 60% */
    /*left: 50%;
    transform: translate(-50%, -50%) rotateX(5deg); /* Центруємо текст по обом осям */
}
p {
    font-size: 36px; /* Зменшуємо розмір тексту */
    font-family: 'Great Vibes', sans-serif;
    color: #e6d59f;
    text-align: justify;
    position: absolute;
    top: 100%; /* Початкова позиція знизу */
    width: 60%; /* Звужуємо ширину тексту до 60% */
    left: 50%;
    transform: translate(-50%, -50%) rotateX(5deg); /* Центруємо текст по обом осям */
    animation: crawl 10s linear forwards; /* Використовується 'forwards', щоб зупинити текст */

}

@keyframes crawl {
    0% {
        top: 100%; /* Починаємо анімацію знизу */
        transform: translate(-50%, -50%) rotateX(5deg);
    }
    100% {
        top: 50%; /* Зупиняється посередині сторінки */
        transform: translate(-50%, -50%) rotateX(5deg);
    }
}


/* Стилі для контейнера */
.container {
    width: 66%; /* 2/3 ширини сторінки */
    margin: 0 auto; /* Вирівнюємо по центру */
    padding: 20px; /* Додаємо внутрішній відступ для зручного читання */
    background-color: rgba(255, 255, 255, 0.0); /* Прозорий фон */
    border: 1px solid rgba(255, 255, 255, 0); /* Прозора рамка */
}

/* Стилі для фото */
.circle-image {
    width: 200px; /* Ширина і висота зображення */
    height: 200px;
    border-radius: 50%; /* Робить зображення круглим */
    object-fit: cover; /* Обрізає зображення, щоб воно заповнило коло */
    position: absolute; /* Абсолютне позиціонування */
    top: 10px; /* Відступ зверху */
    left: 30px; /* Відступ зліва */
}

.content {
    width: 90vw; /* 90% від ширини вікна */
    height: 70vh; /* 50% від висоти вікна */

}
/* Стилі для мобільних пристроїв */
@media (max-width: 768px) {
    h1 {
        font-size: 36px; /* Зменшення шрифту для мобільних */
    }

    h2 {
        font-size: 28px; /* Зменшення шрифту для мобільних */
    }

    p {
        font-size: 18px; /* Зменшення шрифту для мобільних */
        width: 90%; /* Збільшення ширини тексту для мобільних */
    }

    .circle-image {
        width: 150px; /* Зменшення ширини фото для мобільних */
        height: 150px; /* Зменшення висоти фото для мобільних */
    }
}
/* Стилі для планшетів */
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 48px; /* Зменшення шрифту для планшетів */
    }

    h2 {
        font-size: 36px; /* Зменшення шрифту для планшетів */
    }

    p {
        font-size: 20px; /* Зменшення шрифту для планшетів */
    }
}